.photo__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  border: 0;
  background-color: transparent;
  transition: opacity .3s;
}

.photo__like:hover {
  opacity: .5;
  cursor: pointer;
}