.popup__title {
  margin: 34px 36px 54px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  height: 23px;
}

@media screen and (max-width: 320px) {
  .popup__title {
    margin: 25px 22px 75px;
    font-size: 18px;
    line-height: 22px;
  }
}